In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pyslk import pyslk as slk

In [ ]:
slk.user()

In [ ]:
slk.test()

In [22]:
slk.user()

(b'Unhandled error occurred, please check logs\n', None)

In [ ]:
slk.ls("/hsm", decode="pandas")

In [80]:
out

['drwxr-xr-x- a270061     group900               07 Apr 2021  a270061',
 'drwxr-xr-x- a271052     group900               07 Apr 2021  a271052',
 'drwxr-xr-x- a271073     group900               07 Apr 2021  a271073',
 'drwxr-xr-x- k202059     group900               07 May 2021  arch',
 'drwxr-xr-x- b302011     group900               07 Apr 2021  b302011',
 'drwxr-xr-x- b302019     group900               07 Apr 2021  b302019',
 'drwxr-xr-x- b309159     group900               07 Apr 2021  b309159',
 'drwxr-xr-x- b350071     group900               07 Apr 2021  b350071',
 'drwxr-xr-x- a270061     group900               07 Apr 2021  bla',
 'drwxr-xr-x- radium      group900               23 Feb 2021  data',
 'drwxr-xr-x- g262012     group900               07 Apr 2021  g262012',
 'drwxr-xr-x- g266021     group900               07 Apr 2021  g266021',
 'drwxr-xr-x- g300046     group900               07 Apr 2021  g300046',
 'drwxr-xr-x- g300047     group900               07 Apr 2021  g300047',
 'drwxr-xr-x- k202009     group900               07 Apr 2021  k202009',
 'drwxr-xr-x- k202034     group900               07 Apr 2021  k202034',
 'drwxr-xr-x- k202051     group900               07 Apr 2021  k202051',
 'drwxr-xr-x- k202059     k20200                 31 Mar 2021  k202059',
 'drwxr-xr-x- k202072     group900               07 Apr 2021  k202072',
 'drwxr-xr-x- k202082     group900               07 Apr 2021  k202082',
 'drwxr-xr-x- k202121     group900               07 Apr 2021  k202121',
 'drwxr-xr-x- k202123     group900               07 Apr 2021  k202123',
 'drwxr-xr-x- k202134     group900               07 Apr 2021  k202134',
 'drwxr-xr-x- k202147     group900               06 Apr 2021  k202147',
 'drwxr-xr-x- k204206     group900               07 Apr 2021  k204206',
 'drwxr-xr-x- k204206     group900               07 Apr 2021  k204206_test',
 'drwxr-xr-x- k204210     group900               07 Apr 2021  k204210',
 'drwxr-xr-x- k204212     group900               07 Apr 2021  k204212',
 'drwxr-xr-x- k204216     group900               07 Apr 2021  k204216',
 'drwxr-xr-x- k204221     group900               18 May 2021  k204221',
 'drwxr-xr-x- k204229     group900               07 Apr 2021  k204229',
 'drwxr-xr-x- m211076     group900               07 Apr 2021  m211076',
 'drwxr-xr-x- m214002     group900               07 Apr 2021  m214002',
 'drwxr-xr-x- m214013     group900               07 Apr 2021  m214013',
 'drwxr-xr-x- m214042     group900               07 Apr 2021  m214042',
 'drwxr-xr-x- m220053     group900               07 Apr 2021  m220053',
 'drwxr-xr-x- m221078     group900               07 Apr 2021  m221078',
 'drwxr-xr-x- m300083     group900               07 Apr 2021  m300083',
 'drwxr-xr-x- m300792     group900               07 Apr 2021  m300792',
 'drwxrwxr-x- radium      1180                   07 Apr 2021  mh0287',
 'drwxrwxr-x- k204221     dm                     07 Apr 2021  prepared',
 'drwxr-xr-x- radium      group900               23 Feb 2021  subsubdir',
 'drwxrwxrwx- radium      group900               23 Mar 2021  testing',
 '-rwxr-xr-x- a270061     2100           28.8K   20 Feb 2019  exp.nh_rcemip_lem_small_300_3km.run',
 'Files: 44',
 '']

In [82]:
slk.ls(decode="pandas")

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, ...]

[110 rows x 0 columns]

In [186]:
from pyslk import pyslk as slk

In [241]:
out = slk.ls("/hsm/g300046", recursive=False, decode="pandas")

0     /hsm/g300046/conventions
1    /hsm/g300046/conventions2
2           /hsm/g300046/model
3          /hsm/g300046/model2
4       /hsm/g300046/dummy.txt
5        /hsm/g300046/test.txt
6       /hsm/g300046/test2.txt
Name: name, dtype: object

In [242]:
list(out.name)

['/hsm/g300046/conventions',
 '/hsm/g300046/conventions2',
 '/hsm/g300046/model',
 '/hsm/g300046/model2',
 '/hsm/g300046/dummy.txt',
 '/hsm/g300046/test.txt',
 '/hsm/g300046/test2.txt']