# Use cases

In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pyslk import pyslk as slk

List contents of a HMS directory:

In [8]:
slk.ls("/hsm/g300046")

['drwxr-xr-x- g300046     ch0636                 28 Jun 2021  archive.txt',
 'drwxr-xr-x- g300046     group900               07 Apr 2021  conventions',
 'drwxr-xr-x- g300046     group900               07 Apr 2021  conventions2',
 'drwxr-xr-x- g300046     ch0636                 28 Jun 2021  dummy',
 'drwxr-xr-x- g300046     ch0636                 28 Jun 2021  dummy1.txt',
 'drwxr-xr-x- g300046     group900               07 Apr 2021  model',
 'drwxr-xr-x- g300046     group900               07 Apr 2021  model2',
 'drwxr-xr-x- g300046     ch0636                 28 Jun 2021  subdir',
 'drwxr-xr-x- g300046     ch0636                 29 Jun 2021  test.py',
 '-rw-r--r--- g300046     ch0636             0   23 Feb 2021  dummy.txt',
 '-rw-r--r--- g300046     ch0636            13   23 Feb 2021  test.txt',
 '-rw-r--r--- g300046     ch0636             5   23 Feb 2021  test2.txt',
 'Files: 12']

By default, the output from the slk command is parsed into a list of string. The list can be further parsed into a datatable:

In [9]:
slk.ls("/hsm/g300046", decode='pandas')

    permissions     user     group size        date                       name
0   drwxr-xr-x-  g300046    ch0636  NaN  2021-06-28   /hsm/g300046/archive.txt
1   drwxr-xr-x-  g300046  group900  NaN  2021-04-07   /hsm/g300046/conventions
2   drwxr-xr-x-  g300046  group900  NaN  2021-04-07  /hsm/g300046/conventions2
3   drwxr-xr-x-  g300046    ch0636  NaN  2021-06-28         /hsm/g300046/dummy
4   drwxr-xr-x-  g300046    ch0636  NaN  2021-06-28    /hsm/g300046/dummy1.txt
5   drwxr-xr-x-  g300046  group900  NaN  2021-04-07         /hsm/g300046/model
6   drwxr-xr-x-  g300046  group900  NaN  2021-04-07        /hsm/g300046/model2
7   drwxr-xr-x-  g300046    ch0636  NaN  2021-06-28        /hsm/g300046/subdir
8   drwxr-xr-x-  g300046    ch0636  NaN  2021-06-29       /hsm/g300046/test.py
9   -rw-r--r---  g300046    ch0636    0  2021-02-23     /hsm/g300046/dummy.txt
10  -rw-r--r---  g300046    ch0636   13  2021-02-23      /hsm/g300046/test.txt
11  -rw-r--r---  g300046    ch0636    5  2021-02-23     /hsm/g300046/test2.txt

The slk search usually returns an ID. By default the id is used with the list command to return the search result directory. If `out=id` is set, the search will return the ID.

In [10]:
slk.search(user='g300046', decode='pandas', out='id')

1164

In [11]:
slk.search(user='g300046', decode='pandas')

,permissions,user,group,size,date,name
0,-rw-r--r---,g300046,ch0636,660.9K,2021-02-23,surface_iow_day3d_temp_emep_2012.nc
1,-rw-r--r---,g300046,ch0636,13,2021-02-23,test.txt
2,-rw-r--r---,g300046,ch0636,665.2K,2021-02-23,surface_iow_day3d_temp_emep_2010.nc
3,-rw-r--r---,g300046,ch0636,5,2021-02-23,test.txt
4,-rw-r--r---,g300046,ch0636,5,2021-02-23,test2.txt
5,-rw-r--r---,g300046,ch0636,0,2021-02-23,dummy.txt
6,-rw-r--r---,g300046,ch0636,26.6K,2021-02-23,ACDD_2005092200_sst_21-24.en.nc
7,-rw-r--r---,g300046,ch0636,5,2021-02-23,test.txt
8,-rw-r--r---,g300046,ch0636,660.6K,2021-02-23,surface_iow_day3d_temp_emep_2013.nc
9,-rw-r--r---,g300046,ch0636,657.2K,2021-02-23,surface_iow_day3d_temp_emep_2014.nc
10,-rw-r--r---,g300046,ch0636,662.8K,2021-02-23,surface_iow_day3d_temp_emep_2011.nc

which is equivalent to:

In [12]:
slk.ls(slk.search(user='g300046', out='id'), decode='pandas')

,permissions,user,group,size,date,name
0,-rw-r--r---,g300046,ch0636,660.9K,2021-02-23,surface_iow_day3d_temp_emep_2012.nc
1,-rw-r--r---,g300046,ch0636,13,2021-02-23,test.txt
2,-rw-r--r---,g300046,ch0636,665.2K,2021-02-23,surface_iow_day3d_temp_emep_2010.nc
3,-rw-r--r---,g300046,ch0636,5,2021-02-23,test.txt
4,-rw-r--r---,g300046,ch0636,5,2021-02-23,test2.txt
5,-rw-r--r---,g300046,ch0636,0,2021-02-23,dummy.txt
6,-rw-r--r---,g300046,ch0636,26.6K,2021-02-23,ACDD_2005092200_sst_21-24.en.nc
7,-rw-r--r---,g300046,ch0636,5,2021-02-23,test.txt
8,-rw-r--r---,g300046,ch0636,660.6K,2021-02-23,surface_iow_day3d_temp_emep_2013.nc
9,-rw-r--r---,g300046,ch0636,657.2K,2021-02-23,surface_iow_day3d_temp_emep_2014.nc
10,-rw-r--r---,g300046,ch0636,662.8K,2021-02-23,surface_iow_day3d_temp_emep_2011.nc